.pages {
  display: flex;
  overflow-y: scroll;
  gap: 5px;
}

.page {
  padding: 5px;
  border: none;
  background-color: blanchedalmond;
  cursor: pointer;
}

.activePage {
  font-weight: 700;
  background-color: lightcoral;
}

.setsWrapper {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.pagesSetBtn {
  background-color: lightcoral;
  border: none;
  cursor: pointer;
  flex-grow: 1;
  padding: 5px;
}

.setsText {
  margin: 0 10px;
}
