.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  background-color: blanchedalmond;
}

.logo {
  height: 100%;
}

.user {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.photo {
  width: 40px;
  border-radius: 50%;
}

.logout {
  background-color: lightcoral;
  border: none;
  padding: 5px;
  cursor: pointer;
}
